html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
   width:100%;
   height:100%;
   margin:0px;
   padding:0px;
   background:#2eb8b8;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
    width:90%;
    -webkit-margin-before: 0em;
    margin:1px;
}

a {
  background-color: transparent;
  
}

a#special:hover, a#special:focus{
    text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a#title{
	text-decoration: none;
	font-size: 1.5em;
	color:#ffdb4d	
	
}
a#title:hover{
  	border-style: dotted; 
  	border-width: 1px;
  	
  	
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1{
   margin-top:10px;
   margin-bottom:0px;
   color: #ffa64d;
}

.form-control {
  height: auto;
  width:70%;
  border-radius:6px;
  background-color: #e5fff9;
  
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  margin-top:8%;
  color: #fff;
  background-color: #ff8000;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #ff8000;
  border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active {
  background-image: none;
}

/* Menu Styles */
   .float-right{
      float:right;
   }

   .float-left{
      float:left;
   }

   .img{
      margin-top:12px;
      margin-right:10px;
   }

/* Main Container */

#main-containerDTT{
    width:950px;
    overflow:hidden;
    border-radius:5px;
    background:#fff;
    margin:0px auto;
    padding:20px;
}
   
/* Footer */
.linea {
	margin-top: 25px;
	height:1px;
	background-color:#2eb8b8;
	overflow: hidden;
}
#footer{
    width:950px;
    margin:0px auto;
    color:#000;
    padding-top:20px;
    font-size: 0.7em;
}


#article-container{
    width:910px;
    padding:15px 0px 15px 0px;
    overflow:hidden;
}
    
.date{
    font-size: 0.9em;
  	color: #ffa64d;
  	padding-top: 8px;
   	padding-right: 6px; 
}
  	
.sumary{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    padding-left: 75px;
    float: left;
    margin: 15px;
}
   
.cursive{
    font-style: italic; 
    padding-left: 0px;
    margin :0px;
    float: none;   
}
   
.link{
    padding-top:8px;
}

.titleadm{
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #ffdb4d;	
}

.wdgtadmin{
    font-size: 0.7em;
    margin-bottom:10px;
}

table#t01{
    width: 90%;
    text-align: left;
    border-right: 1px solid #2eb8b8;
    border-left: 1px solid #2eb8b8;
    border-spacing: 0px;
}
#t01 a:link, a:hover, a:visited, a:active{
    text-decoration:none;
    color:black;
}

table#t01 th	{
    background-color: #ff9933;
    color: white;
    border-top: 1px solid #2eb8b8;
    border-bottom: 1px solid #2eb8b8;
}

table#t01 tr{
    border-right: 1px solid #2eb8b8;
    border-left: 1px solid #2eb8b8;
}
table#t01 tr:nth-child(odd) {
    background-color: #ffe6cc;
}
table#t01 tr:nth-child(even) {
   background-color:#fff;
}
label{
    width:20%;
    float:left;
}
.logIn{
      width:400px;
      height:200px;
      position: relative;
      top:50%;
      left:25%;
      -webkit-box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      -moz-box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      border-radius:5px;
      background-color:#fac44a;
      text-align:center;
      border:1px solid #ccc;
      float:left;
      margin:15px;
}

.looginf{
    margin-top:10%;
}
.art{
      width:90%;
      height:580px;
      position: relative;
      top:50%;
      left:5%;
      -webkit-box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      -moz-box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      box-shadow: -5px 10px 19px 0px rgba(46,36,46,0.89);
      border-radius:5px;
      padding-top: 20px;
      background-color:#fac44a;
      text-align:center;
      border:1px solid #ccc;
      
}

