html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
   width:100%;
   height:100%;
   margin:0px;
   padding:0px;
   background:#2eb8b8;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  background-color: transparent;
  
}

a:active,
a:hover {
  outline: 0;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a#title{
	text-decoration: none;
	font-size: 1.5em;
	color:#ffdb4d	
	
}
a#title:hover{
  	border-style: dotted; 
  	border-width: 1px;
  	
  	
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1{
   margin-top:10px;
   margin-bottom:0px;
   color: #ffa64d;
}

textarea.form-control {
  height: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Menu Styles */
   .float-right{
      float:right;
   }

   .float-left{
      float:left;
   }

   .img{
      margin-top:12px;
      margin-right:10px;
   }

/* Main Container */
   #main-container{
      width:950px;
      overflow:hidden;
      background:#fff;
      margin:0px auto;
      padding:20px;
   }

   #main-containerDTT{
      width:950px;
      overflow:hidden;
      border-radius:5px;
      background:#fff;
      margin:0px auto;
      padding:20px;
   }
   
/* Footer */
.linea {
	margin-top: 25px;
	height:1px;
	background-color:#2eb8b8;
	overflow: hidden;
}
   #footer{

      width:950px;
      margin:0px auto;
      color:#000;
      padding-top:20px;
      font-size: 0.7em;
   }

/* Collection */
   #collection-container{
      width:910px;
      padding:15px 0px 15px 0px;
      overflow:hidden;
   }
    
   .date{
   	    font-size: 0.9em;
    	color: #ffa64d;
    	padding-top: 8px;
    	padding-right: 6px;
   }
  	
   .sumary{
    width: 90%;
    background: #fff;
    border-radius: 5px;
    padding-left: 75px;
    float: left;
    margin: 15px;
   }

   
